* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.8fr;
  background: url("./components/images/wall.jpg");
  grid-template-areas:
    "nav nav"
    "Mwin1 Mwin2"
    "Dcontain Dcontain";
}
.window {
  height: 200px !important;
  width: 400px !important;
}
.window.active {
  height: 500px !important;
  width: 500px !important;
}
nav {
  grid-area: nav;
  background-color: rgba(240, 240, 240, 0.8);
  align-self: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Mwin1 {
  grid-area: Mwin1;
  justify-self: center;
  align-self: center;
}
.Mwin2 {
  grid-area: Mwin2;
  justify-self: center;
  align-self: center;
}
.Dcontain {
  grid-area: Dcontain;
  align-self: center;
  justify-self: center;
}

/* folder layout open */

.flayout {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 5em;
  width: 6em;
  justify-content: space-evenly;
}
.flayout.active{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 5em;
  width: 6em;
  justify-content: space-evenly;
  border:2px solid blue;
}
.folder {
  border-radius: 3px;
}
.flabel {
  padding: 2px 4px;
  border-radius: 13px;
  color: aliceblue;
  background-color: rgb(60, 60, 60, 0.5);

  font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
/* folder layout close */

/* dock items open */
.docks {
  /* flex-flow: no-wrap; */
  transition: 0.3s ease-in-out;
  position: fixed;
  bottom: 14px;
  left: 28%;
  z-index: 2;
  
}

.DockItems img {
  height: 50px;
  width: 50px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
   
  
}


.DockItems img:hover {
  height: 80px;
  width: 80px;
}
.txt {
  width: 800px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  bottom:8px;
  
  left: 25%;
  right: 0;
  position: fixed;
  text-align: center;
  min-width: 600px;
  border-radius: 10px;
  z-index: 1;
}

/* dock items close */
/* page loading */
.cimginp{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr;
}
.maclogo{
  justify-self: center;
  align-self: end;
}
.textlogin{
  justify-self: center;
 
}